---
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      astro-packages:
        patterns:
          - "astro*"
          - "@astrojs/*"
      everything:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "security"
    reviewers:
      - "DerTimonius"
    open-pull-requests-limit: 10
