{
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/styles/style.css",
	"tailwindFunctions": ["classNames"],
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
