---
import { getCollection } from 'astro:content';
import Card from '~/components/Card.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import Hr from '~/components/Hr.astro';
import Link from '~/components/Link.astro';
import Layout from '~/layouts/Layout.astro';
import sortPosts from '~/utils/sortPosts';

const posts = await getCollection('blogs', ({ data }) => !data.isDraft);

const sortedPosts = sortPosts(posts);
const latestPosts = sortedPosts.slice(0, 3);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="pb-6 pt-8">
      <h1 class="my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl">
        Today I learned
      </h1>

      <p class="my-2">
        A little blog that embraces the principles of <a
          href="https://www.swyx.io/learn-in-public"
          referrerpolicy="no-referrer"
          target="_blank"
        >
          <i>learning in public</i></a
        >. Why don't share your journey of getting better at stuff? Everyone
        started somewehere.
      </p><p>
        I want to keep learning about interesting things, to keep getting better
        at various topics.
      </p>
      <p class="mt-6">
        The plan is to write about:
        <ul class="mx-6">
          <li>Web Developlment</li>
          <li>Computer Science</li>
          <li>Science related topics</li>
          <li>...whatever I found interesting that day!</li>
        </ul>
      </p>

      <p class="my-4">Join me and let's have some fun!</p>
    </section>

    <Hr />

    <section class="pb-6 pt-12">
      <h2 class="text-2xl font-semibold tracking-wide">Latest</h2>
      <ul>
        {
          latestPosts.map((post) => (
            <Card
              href={`/blog/${post.slug}`}
              frontmatter={post.data}
              secHeading={false}
              slug={post.slug}
            />
          ))
        }
      </ul>
    </section>
    <!-- Reenable if a section called `featured` is created -->
    <!-- <Hr /> -->

    <section class="pb-6 pt-12">
      <div class="my-8 text-center">
        <Link href="/blog">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </Link>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
