---
interface Props {
  header?: string;
}

const { header } = Astro.props;
---

<section
  class="border-dashed border-2 border-skin-accent py-2 px-6 min-h-min text-white"
>
  {header ? <h3 class="mt-3">{header}</h3> : null}
  <slot />
</section>
