---
import classNames from 'classnames';

export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
  className?: string;
  lineColor?: string;
}

const {
  noPadding = false,
  ariaHidden = true,
  className,
  lineColor,
} = Astro.props;
const divClasses = classNames('w-full mx-auto', className, {
  'px-0': noPadding,
  'px-4': !noPadding,
});
---

<div class={divClasses}>
  <hr class={lineColor ?? 'border-custom-line'} aria-hidden={ariaHidden} />
</div>
