---
import classNames from 'classnames';

export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  newTab?: boolean;
  dataTestId?: string;
}

const {
  href,
  className,
  ariaLabel,
  title,
  dataTestId,
  disabled = false,
  newTab = false,
} = Astro.props;
const linkClasses = classNames(
  'group inline-block hover:text-custom-accent',
  className,
);
---

<a
  data-test-id={dataTestId}
  href={disabled ? '#' : href}
  class={linkClasses}
  aria-label={ariaLabel ?? title}
  title={title}
  aria-disabled={disabled}
  target={newTab ? '_blank' : '_self'}
>
  <slot />
</a>
