---
import type { Page } from 'astro';
import Link from './Link.astro';

export interface Props {
  page: Page;
}

const { page } = Astro.props;
---

{
  page.total > 1 ? (
    <nav class="mb-8 mt-auto flex justify-center" aria-label="Pagination">
      {page.url.prev ? (
        <Link
          disabled={page.url.prev === 'disabled'}
          href={page.url.prev}
          className={`mr-4 select-none ${page.url.prev}`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="mb-1 fill-current">
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
          Prev
        </Link>
      ) : null}
      {page.url.next ? (
        <Link
          disabled={page.url.next === 'disabled'}
          href={page.url.next}
          className="ml-4 select-none"
          ariaLabel="Next"
        >
          Next
          <svg xmlns="http://www.w3.org/2000/svg" class="mb-1 fill-current">
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </Link>
      ) : null}
    </nav>
  ) : null
}
