---
import classNames from 'classnames';
import type { Tag } from '~/utils/getTags';

export interface Props {
	tag: Tag;
	size?: 'sm' | 'lg';
}

const { tag, size = 'sm' } = Astro.props;
const linkClasses = classNames(
	' pr-2 group relative underline decoration-dashed hover:-top-0.5 hover:text-custom-accent  focus-visible:p-1',
	{
		'text-sm': size === 'sm',
		'text-lg': size === 'lg',
	},
);
---

<li
  class={`inline-block ${
    size === 'sm' ? 'my-1 underline-offset-4' : 'my-3 mx-1 underline-offset-8'
  }`}
>
  <a
    href={`/tags/${tag.name.toLowerCase()}`}
    transition:name={tag.name.toLowerCase()}
    class={linkClasses}
    data-test-id="tag"
  >
    <span>{tag.name.toLowerCase()}</span>
  </a>
</li>
