---
import type { Heading } from './TOC.astro';

interface Props {
	heading: Heading;
}

const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug} aria-label={heading.text}>
    {heading.text}
  </a>
  {
    heading.subheadings && heading.subheadings.length > 0 ? (
      <ul>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    ) : null
  }
</li>
